*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header{
    background-color: #add8e6;
}

.h-container{
    max-width: 100%;
    margin: 0 auto;
}

.h-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
}

.col-logo, .col-login{
    width: 20%;
}

.col-link{
    width: 60%;
    text-align: center;
}

.h-content{
    background-color: #DAA520;
    border: 1px dashed black;
    padding: 5px;
    margin: 10px 0;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.col-logo{
    text-align: start;
}

.col-login{
    text-align: end;
}

.m-container{
    max-width: 100%;
}

.m-row-1{
    background-color: #00008B;
}

div[class^="m-row"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.m-col-1{
    height: 230px;
    margin: 20px auto;
    width: 50%;
    background-color:#EE81EE;
    border: 1px dashed black;
}

.m-row-2 {
    padding: 0 25%;
}

.m-col-2 {
    height: 250px;
    margin: 20px auto;
    width: 65%;
    background-color:#1C90FF;
    border: 1px dashed black;
}

.m-col-3 {
    height: 250px;
    margin: 20px auto;
    width: 35%;
    background-color:#FEC0CA;
    border: 1px dashed black;
}

.m-row-3 {
    padding: 0 25%;
    background-color: #D3D3D3;
}

.m-col-4    {
    height: 250px;
    margin: 20px auto;
    width: 35%;
    background-color:#FEC0CA;
    border: 1px dashed black;
}

.m-col-5 {
    height: 250px;
    margin: 20px auto;
    width: 65%;
    background-color:#1C90FF;
    border: 1px dashed black;
}

.m-row-4 {
    padding: 0 25%;
}

.m-col-6 {
    height: 250px;
    margin: 20px auto;
    width: 65%;
    background-color:#1C90FF;
    border: 1px dashed black;
}

.m-col-7 {
    height: 250px;
    margin: 20px auto;
    width: 35%;
    background-color:#FEC0CA;
    border: 1px dashed black;
}

.m-row-5 {  
background-color: #d3d3d3;
}
.m-col-8{
    height: 500px;
    margin: 20px auto;
    width: 50%;
    background-color:#228B21;
    border: 1px dashed black;
}